body {
	text-align: center;
	background-image: url("background.jpg");
	background-size: 100%;
}

p {
	text-align: right;
	background-color: rgba(57.6%, 44.7%, 43.5%,0.5); 
	/*text-decoration: underline; */
	text-transform: capitalize;
	line-height: 20px;
	font-style: italic;
	/*font-weight: 3000;*/
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.groups {
	border: 15px solid  rgba(45,29,125,0.1);
}

.navbar li {
	list-style: none;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

img {
	cursor: help;
}